{%extends "clientBase.html"%}

{%block content%}
<main class="content">
<div class="contact-container">

    <h2>Contact Us</h2>

    <form action="/contact" method="POST" class="contact-form">

        <div class="input-group">
            <label>Full Name</label>
            <input type="text" name="name" placeholder="Enter your name" required>
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="input-group">
            <label>Your Query</label>
            <textarea name="message" rows="5" placeholder="Write your query..." required></textarea>
        </div>

        <button type="submit" class="contact-btn">Send Message</button>

    </form>

</div>
</main>
{%endblock%}