{%extends "clientBase.html"%}

{%block content%}
<main class="content">
  <div class="card-ect">
    <h1>Class Tests</h1>
    <p>Class Tests are internal assessments conducted by the institute to evaluate students' academic progress during
      the semester. These tests help students understand their preparation level and encourage regular study habits
      throughout the course.

      Two Class Tests are conducted in every semester.<br>

    <h2> Class Test I:</h2>

    Class Test I is conducted during the early phase of the semester. It evaluates the understanding of the initial
    topics taught in the course.<br>

    <b> Maximum Marks:</b> 30<br>

    <b>Syllabus Coverage:</b> First two chapters of each subject<br>

    <b>Purpose:</b> To assess the foundational understanding of the subject and help students identify areas for
    improvement.


    <h2>Class Test II:</h2>

    Class Test II is conducted after the completion of the next portion of the syllabus.<br>

    <b>Maximum Marks:</b> 30<br>

    <b>Test Duration:</b> 1 Hour<br>

    <b>Syllabus Coverage:</b> Next two chapters of each subject</p>


    <br>
    <h1>Class Test Schedule</h1>

    <table class="schedule-table">
      <tr>
        <th>Semester</th>
        <th>Class Test I</th>
        <th>Class Test II</th>
      </tr>

      <tr>
        <td>1st Semester</td>
        <td>September</td>
        <td>October</td>
      </tr>

      <tr>
        <td>2nd Semester</td>
        <td>March</td>
        <td>April</td>
      </tr>

      <tr>
        <td>3rd Semester</td>
        <td>September</td>
        <td>October</td>
      </tr>

      <tr>
        <td>4th Semester</td>
        <td>March</td>
        <td>April</td>
      </tr>

      <tr>
        <td>5th Semester</td>
        <td>September</td>
        <td>October</td>
      </tr>

      <tr>
        <td>6th Semester</td>
        <td>March</td>
        <td>April</td>
      </tr>

    </table>

  </div>
  <div class="card-eht">
    <h1>House Test</h1>
    <p>House Tests are internal examinations conducted by the institute before the final semester examinations. These
      tests help students prepare effectively for their final exams by evaluating their understanding of most of the
      syllabus covered during the semester.

      House Tests are designed to simulate the pattern and environment of the final examinations so that students can
      assess their readiness and improve their performance.<br>

    <h2>House Test Examination:</h2>

    The House Test is conducted after the majority of the course syllabus has been completed. It helps students revise
    their subjects and identify areas that require additional preparation before the final examination.<br>

    <b>Maximum Marks:</b> 60<br>

    <b>Test Duration:</b> 3 Hours<br>

    <b>Syllabus Coverage:</b> Approximately 80% of the total syllabus of each subject<br>

    <b>Purpose:</b> To prepare students for the final examination and evaluate their overall understanding of the
    course.</p>


    <h1>House Test Schedule</h1>

    <table class="schedule-table">
      <tr>
        <th>Semester</th>
        <th>House Test Month</th>
      </tr>

      <tr>
        <td>1st Semester</td>
        <td>November</td>
      </tr>

      <tr>
        <td>2nd Semester</td>
        <td>May</td>
      </tr>

      <tr>
        <td>3rd Semester</td>
        <td>November</td>
      </tr>

      <tr>
        <td>4th Semester</td>
        <td>May</td>
      </tr>

      <tr>
        <td>5th Semester</td>
        <td>November</td>
      </tr>

      <tr>
        <td>6th Semester</td>
        <td>May</td>
      </tr>

    </table>

  </div>
  <div class="card-eft">
    <h1>Final Examination</h1>
    <p>Final Examinations are the main academic assessments conducted at the end of every semester. These examinations
      evaluate the overall understanding and knowledge gained by students throughout the entire semester.

      The Final Examination is conducted according to the academic schedule provided by the examination authority. It is
      the most important assessment that determines the final performance of students in each subject.

      <h2>Final Examination Details:</h2>

      The Final Examination is conducted after the completion of the full course syllabus.<br>

      <b>Maximum Marks:</b> 60<br>

      <b>Examination Duration:</b> 3 Hours<br>

      <b>Syllabus Coverage:</b> Full syllabus of each subject<br>
      
      <b>Purpose:</b> To evaluate the complete academic performance of students during the semester.</p>


      <h1>Final Examination Schedule</h1>

<table class="schedule-table">
    <tr>
        <th>Semester</th>
        <th>Final Examination Month</th>
    </tr>

    <tr>
        <td>1st Semester</td>
        <td>December</td>
    </tr>

    <tr>
        <td>2nd Semester</td>
        <td>June</td>
    </tr>

    <tr>
        <td>3rd Semester</td>
        <td>December</td>
    </tr>

    <tr>
        <td>4th Semester</td>
        <td>June</td>
    </tr>

    <tr>
        <td>5th Semester</td>
        <td>December</td>
    </tr>

    <tr>
        <td>6th Semester</td>
        <td>June</td>
    </tr>

</table>


  </div>
  </div>
</main>
{%endblock%}