{%extends "clientBase.html"%}

{%block content%}
<main class="content">
  <div class="notification-banner">
    Important Notification: This is a placeholder for announcements.
  </div>
  <div class="content-cards">
    {% for notice in notices %}
    <div class="card">
      <h1>{{ notice.title }}</h1>
      <p>{{ notice.desc }}</p>
    </div>
    {% endfor %}
    <div class="admin-event-form">
      Welcome to Government Polytechnic Hamirpur

      Government Polytechnic Hamirpur is a reputed technical institute in Himachal Pradesh committed to providing
      quality diploma education in engineering and technology. The institute focuses on developing skilled professionals
      through practical learning, modern laboratories, and the guidance of experienced faculty members.

      Along with academic excellence, the college also promotes physical fitness and sportsmanship among students. Every
      year, the institute organizes Sports Meet during the 1st semester Which is the Fall session, where students
      participate in various indoor
      and outdoor games such as Basketball, volleyball,Kabaddi and badminton, etc. In the 2nd semester which is the
      summer session, the Annual Athletic
      Meet is conducted, encouraging students to compete in track and field events. These sporting activities continue
      throughout the academic every semester one after the other, helping students maintain a balance between education,
      health, and teamwork.

      Our campus environment encourages innovation, discipline, and leadership while providing opportunities for
      students to develop both technical and personal skills through academic activities, workshops, and extracurricular
      participation.

      This platform has been created to allow students to easily view college events, announcements, sports activities,
      and important academic updates in one centralized place.

      For more information about the institute, please visit the official website of Government Polytechnics <a
        href="https://www.hptechboard.com/">H.P.TechBoard</a>
    </div>
  </div>
</main>
{%endblock%}